
@mixin hoverTextStyle {
  opacity: 0;
  transition: opacity 0.5s;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 500;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover {
    opacity: 1;
  }
  @media (max-width: 960px) {
    display: none;
  }
  .hoverTextBox{
    width: 210px;
    height: 230px;
    @media (max-width:1260px) {
      width: 17vw;
      height: 20vw;
    }
    &__title {
      left: 78px;
      font-size: 24px;
      font-weight: 500;
      margin-bottom: 20px;
      @media (max-width: 1260px) {
        font-size: clamp(20px,1.5vw,24px);
      }
    }
    &__subtitle {
      display: flex;
      text-decoration: none;
      font-size: 16px;
      line-height: 200%;
      font-weight: 400;
      @media (max-width: 1260px) {
        font-size: clamp(12px,1.3vw,16px);
      }
      &-parent {
        width: 50%;
      }
      &-children {
        width: 50%;
        color: #cccccc;
      }
    }
  }
}






@mixin w1200-center {
  width: 1200px;
  margin: 0 auto;
}

@mixin img-fit {
  height: 100%; 
  img{
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

@mixin category-box {
  position: absolute;
  left: 20px;
  top: 20px;
  padding: 13px 20px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 100px;
  color: white;
  font-size: 14px;
  font-weight: 400;
  @media (max-width: 960px) {
    left: 2vw;
    top: 2vw;
    font-size: clamp(12px,3vw,16px);
    padding: 8px 4vw;
  }
}




@mixin respond($breakpoint) {
  @if $breakpoint == mobile {
    @media (max-width: 768px) { @content; }
  } @else if $breakpoint == tablet {
    @media (max-width: 1024px) { @content; }
  } @else if $breakpoint == desktop {
    @media (max-width: 1440px) { @content; }
  }
}
